# Django settings
SECRET_KEY=l0fe=
DJANGO_SETTINGS_MODULE=config.settings.local
ADMIN_USERNAME=
ADMIN_EMAIL=
ADMIN_PASSWORD=

# Database variables
DB_ROOT_PASSWORD=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=3306

# NGINX variables
NGINX_PORT=8080
